/* src/components/QuoteSection.module.css */
.section {
    width: 100%;
    background: #000;
    display: flex;
    justify-content: center;
    padding: 60px 16px;
  }
  
  .container {
    max-width: 1272px;
    width: 100%;
    display: flex;
    gap: 80px;
    align-items: center; /* ✅ vertical centering */
  }
  
  /* Left */
  .left {
    flex: 1;
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    align-items: center; /* ✅ vertical center text */
  }
  
  .textWrap {
    position: relative;
    margin-bottom: -100px;
  }
  
  .openQuote {
    font-size: 240px;
    color: #dbac22;
    height: 60px;
    position: absolute;
    top: -200px;
    left: 0;
  }
  
  .quoteHead {
    font-size: 24px;
    line-height: 120%;
    color: #fff;
  }
  
  .quoteTitle {
    font-size: 48px;
    line-height: 1;
    color: #dbac22;
  }
  
  .author {
    margin-top: 40px;
    font-size: 24px;
    letter-spacing: 3%;
    color: #fff;
    text-transform: uppercase;
  }
  
  /* Right */
  .right {
    flex-shrink: 0; /* ✅ prevent shrinking */
    width: 600px;
    height: 600px;
    padding-left: 40px;
    padding-right: 40px;
  }
  
  .imageWrap {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #111;
  }
  
  .image {
    width: 100%;
    height: 100%;
    object-fit: cover; /* or "contain" if you prefer no cropping */
    display: block;
  }
  
  @media (max-width: 1100px) and (min-width: 961px){
    .container {
        gap: 0
    }
    .left {
        padding: 0;
    }
    .right {
        width: 40%;
        height: auto;
    }
  }

  @media (max-width: 960px){
    .section {
        padding: 145px 40px 40px 40px;
    }
    .container {
        flex-direction: column;
        align-items: baseline;
    }
    .left {
        padding: 0 40px;
        max-width: 520px;
    }
    .openQuote {
        font-size: 190px;
        height: auto;
        top: -160px;
    }
    /* .quoteHead {
        font-size: 20px;
    }
    .quoteTitle {
        font-size: 40px;
    }
    .author {
        font-size: 20px;
    } */
    .right {
        margin-top: 40px;
        aspect-ratio: 1/1;
        width: 100%;
        padding: 0;

    }
    .image {
        object-position: 50% 25%;
    }
  }

  @media (max-width: 767px){
    .section {
        padding: 145px 0 0 0;
    }
    .left {
        padding: 0 16px;
    }
    .right {
        width: 100%;
        height: 100%;
        aspect-ratio: 1/1;

    }
  }